.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d3b66; /* Deep blue background */
  padding: 10px 20px;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Leftside-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Leftside-navbar a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* White text */
}

.Leftside-navbar h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.Middle-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.rightside-navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rightside-navbar a {
  padding: 10px 35px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.2s ease;
  background-color: #c71585; /* Red-violet button */
  width: 45px;
  border-radius: 5px;
}

.rightside-navbar a:hover {
  background-color: #ffffff;
  color: #072c4f; /* Deep blue on hover */
  transform: scale(1.1);
}

.rightside-navbar h2 {
  font-size: 16px;
  margin: 0;
  color: #27084a;
}
